
#header{
}

/*#logo img{
	padding-left: 20px;
	height: 90px;
}
#logo{
	height: 200px;
	background-image: url(http://www.bonusscommessesport.com/bonus-scommesse/primo-deposito_files/stacks-image-f87c90e.jpg);
	background-repeat: no-repeat;
	background-size: 100% 200px;
	line-height: 200px;

}*/

#siler img{
	max-width: 100%;
}

#content{
	background: lightgrey;
}

/* -------------------------footer */
#footer{
	background-color: #101010;
	padding-top: 15px;
}


a:link{
	text-decoration: none;
}
a:visited { 
	text-decoration: none; 
} 
a:hover { 
	text-decoration: none; 
} 
a:active { 
	text-decoration: none; 
} 

.h3 a{
	max-width: 100%;
}
